{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 120,
	"importOrder": [
		"^(next/(.*)$)|^(next$)",
		"^react",
		"<THIRD_PARTY_MODULES>",
		"next-seo.config",
		"^components/(.*)$",
		"^utils/(.*)$",
		"^assets/(.*)$",
		"^@/public",
		"^@fontsource/(.*)$",
		"^[./]"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
