@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply cursor-pointer  whitespace-nowrap rounded-xl border-2 border-solid border-cyan-500 bg-white px-10 py-1 text-cyan-500 duration-200 hover:bg-custom-100 hover:ease-out dark:border-[black] dark:bg-[#d6dadd]  dark:text-black lg:block;
	}
	.btn-secondary {
		@apply cursor-pointer whitespace-nowrap rounded-xl border-2 border-solid border-cyan-500 bg-cyan-500 px-10 py-1 text-white duration-200 hover:border-cyan-600 hover:bg-cyan-600 hover:ease-out dark:border-[#797a7c]  dark:bg-dark-200 dark:hover:border-[#8f9194] lg:block;
	}
	.container {
		@apply m-auto max-w-screen-lg px-3 py-4;
	}
	.textColorBlack {
		@apply [&>p>span]:font-["Arial","sans-serif"] [&>p>span]:text-[medium] [&>p>span]:text-black dark:[&>p>span]:bg-dark-100 dark:[&>p>span]:text-white [&>p>a]:hover:underline dark:[&>p]:text-white  !important;
	}
}
* {
	margin-block-end: 0px;
	margin-block-start: 0px;
}

html,
body {
	height: 100%;
}

#__next {
	height: 100%;
	width: 100%;
}

.bold-icon {
	border: none !important;
}
.bold-icon img {
	filter: invert(50%) sepia(22%) saturate(0%) hue-rotate(299deg) brightness(103%) contrast(100%);
}

.bold-icon:hover {
	box-shadow: none !important;
	background-color: #f6f7f9;
}
.rdw-option-active {
	box-shadow: none !important;
}
.rdw-option-active img {
	filter: invert(7%) sepia(5%) saturate(373%) hue-rotate(201deg) brightness(94%) contrast(91%);
}
.rdw-option-wrapper {
	border: none !important;
	box-shadow: none !important;
}

.rdw-option-wrapper svg {
	fill: #a0a0a0;
}
.rdw-option-active svg {
	fill: #222222;
}
.rdw-link-decorator-wrapper {
	color: #0079d2;
	text-decoration: underline;
}
.rdw-link-modal {
	height: 234px !important;
}
.error {
	border: 1px solid red !important;
}
.rdw-image-imagewrapper {
	width: 100px !important;
	height: 100px !important;
}
.rdw-image-imagewrapper img {
	height: 100% !important;
}

.rdw-editor-main {
	padding: 5px 10px !important;
}
.demo-editor {
	background-color: white;
	word-break: break-word;
}
html[data-theme="dark"] .demo-editor {
	background-color: #1a1a1a;
	border: none;
	color: white;
}

html[data-theme="dark"] .rdw-editor-toolbar {
	background-color: #1a1a1a;
	border: none;
}
html[data-theme="dark"] .rdw-option-wrapper {
	background-color: #1a1a1a !important;
}
html[data-theme="dark"] .rdw-option-wrapper:hover {
	background-color: #323030 !important;
}
html[data-theme="dark"] .rdw-image-modal {
	background-color: #323030 !important;
	border: none;
	box-shadow: none;
}
html[data-theme="dark"] .rdw-image-modal div {
	background-color: #323030 !important;

	border: none;
	color: white;
	box-shadow: none;
}
html[data-theme="dark"] .rdw-image-modal-url-input {
	color: black;
}
